<label>Subect: {{input value=state.subject}}</label><br>
<label>from:   {{input value=state.from}}</label><br>
<label>body:   {{textarea value=state.body}}</label><br>

<button {{action 'save' email}}>
  Save
</button>

<a href="#" {{action 'cancel' email}}>
  cancel
</a>
